

/* HEADING AND DESIGN  */
.heading-minimal-go {
    /* text-align: center; */
    margin-bottom: 25px;
    margin-left: 50px;
}
.head-title-go{
    font-size: 45px;
    font-weight: bold;
}
.heading-minimal-go .sub-title-go {
    color: #FFCC00;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.heading-minimal-go .bottom-dots-go {
    /* position: absolute; */
    /* left: 50%; */
    bottom: 0;
    width: 100%;
    /* margin-left: -25px; */
}
.bottom-dots-go .dot-go.line-dot-go, .heading-dots-go .h-dot-go.line-dot-go {
    border-right: 40px solid #FFCC00 ;
}
.bottom-dots-go .dot-go {
    position: relative; 
    display: block;
    float: left;
    width: 3px;
    height: 3px;
    border-right: 3px solid #FFCC00;
    margin-right: 3px;
}

.margin-top{
    margin-top: 80px;
}

.go-para-div{
    margin-left: 50px !important;
    font-size: 20px;
    color: rgb(90, 89, 89);
    line-height: 35px;
    text-align: justify;
}
.go-buttons{
    margin-top: 30px !important;
    margin-left: 45px !important;
}